#myButton{
	-fx-background-color: lightblue;
        -fx-background-radius: 50px;
	-fx-border-width: 2px;
        -fx-border-color: black;
        -fx-border-style: solid;
        -fx-border-radius: 50px;
        -fx-cursor: hand;
}
	
#myButton:hover{
	-fx-background-color: darkcyan;
}